# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ChatFest.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GIT\ChatFest\.idea\.idea.ChatFest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
